* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f9;
}

.calculator {
  border: 1px solid #ccc;
  width: 300px;
  height: 420px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 5px;
}

input {
  text-align: right;
  width: 235px;
  font-size: 20px;
  padding: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f4f4f9;
  cursor: pointer;
}

button {
  margin: 6px;
  width: 55px;
  height: 50px;
  border: none;
  border-radius: 5px;
  font-size: large;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}


button:nth-child(1) {
  background-color: #ff7675;
} 
button:nth-child(2) {
  background-color: #ff7675;
}
button:nth-child(3) {
  background-color: #74b9ff;
}
button:nth-child(4) {
  background-color: #fdcb6e;
}
button:hover {
  background-color: #dfe6e9;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}



button:active {
  transform: scale(0.95);
  background-color: #b2bec3;
}
